/* .logo-timelink{
    width: 7vw !important;
    margin-top: 150px;
    margin-left: 30px;
    margin-right: 80px;
    margin-bottom: 50px;
    border-radius: 50%;
    cursor: pointer;
} */
.cabecera{
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.div-fecha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fecha-actual{
    font-size: 1.5rem !important;
}
.reloj *{
    color: whitesmoke;
}
.heigth100{
    height: 70px;
}

.sb-nav-link-icon{
    color: rgb(211, 208, 208) !important;
}

#seccion-perfil{
    display: none;
    padding: 50px;
}

.detalles-actividad {
    display: none;
    /* background: #f8f9fa; */
    /* background-color: rgba(var(--bs-success-rgb)) !important; */
    padding: 15px !important;
    border-collapse: collapse;    
    border-color:#8f8f8f;
    border-radius: 5px;
    max-height: 40vh;
    overflow-y: auto;   
    font-weight: 500 !important;
    z-index: 6;
    position: absolute; 
    left: 0;
    top: 103%;
    width: 100%; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);    
}

.card-body{
    font-weight: bolder;   
    
}
.card-body span{
    float: right;    
}
/* canvas{
    height: 95% !important;
} */

#selector-fecha{
    
    margin: 0 !important;
    height: 30px !important;
    padding: 10px !important;
    width: 150px;
    border-radius: 5px;
}
.ver-perfil{
    text-align: center !important;
    border: none;
    padding-left: 0 !important;
}
.ver-perfil button{    
    border: none;
}
#dashboard-inicio{
    margin-top: 50px;
}

th{      
    text-align: left !important;
    padding-right: 0 !important;
    padding-left: 30px !important;
}
.dt-type-date{
    text-align: left !important;
}
.dt-column-order{
    left: 5px;
    right: 0 !important;    
}
.table-body{
    padding: 20px !important;
    color: var(--bs-card-color);
    
}
td,th{
    border: 1px solid black !important;
    border-radius: 10px !important;
    align-items: center !important;
}
.fa-user-plus{    
    color:greenyellow;
}
#access-request-number {
    margin-left: 40px;
    color:greenyellow;
    font-weight: bold;
}
#excluded-number{
    margin-left: 50px;
    font-weight: bold;
}
#div-solicitudes-acceso {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: auto;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #33517D;
    padding: 15px 15px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: none;
    text-align: center;
    z-index: 6;
}
#div-solicitudes-acceso h3{
    /* font-weight: bold; */
    color: whitesmoke;
}

.header-solicitudes {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    height: 50px;
   
}

#cerrar-solicitudes {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    margin-bottom: 20px;
}

#cerrar-solicitudes:hover {
    color: red;
}

.solicitud {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#form-invitacion{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.input-email-invitado{
    height: 40px;
    text-align: center;
    margin-top: 10px !important;
    border-radius: 5px;
}

.btn-aceptar, .btn-rechazar, .btn-perfil-exc ,#btn-enviar-invitacion{
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#btn-enviar-invitacion{
    width: 50%;
    margin: 0 auto;
}

.btn-aceptar {
    background-color: #198754;
    color: white;
}

.btn-rechazar {
    background-color: #DC3545;
    color: white;
}
.btn-accion{
    background-color: #33517D;

}
.form-check span{
    display: none;
    position: absolute;
    background-color: rgba(255, 99, 71, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    top: 70%; 
    left: 2%;
    margin-top: 5px;
    white-space: nowrap;
}
.confirmar-accion {
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);    
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: whitesmoke;
    border: 2px solid black;    
    padding: 20px;
    z-index: 7;
}
.confirmar-accion p{
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 16px;
}
.botones-accion{
    display: flex;
    flex-direction: row;
}
.aceptar-accion,
.cancelar-accion {
    padding: 5px 10px;   
    margin: 20px;    
    font-weight: bold;
    border-radius: 5px;
    
    color: whitesmoke;
}
.aceptar-accion {
    background-color:#2C6B2F;
}
.cancelar-accion {
    background-color: #DC3545;
}

#show-lineChart{
    float: right;
    cursor: pointer;
}

#myPieChart{
    max-height: 300px;
}
/* .chart-canvas{
    min-width: 100%;
    min-height: 100% !important;
} */

.chart-body{
    /* height: 380px !important; */
    min-height: 350px;
    /* align-items: center !important;  */
}

#mapaFichajes{
    z-index: 4;
    max-height: 100%;
    min-height: 100%;
    /* margin-top: 10px; */
}

/* Estilos del mapa*/
.leaflet-marker-icon .leaflet-div-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3388ff; 
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    line-height: 1;
}
.marker-cluster div span{
    margin-right: 10px;
}
.leaflet-control-zoom-in span,.leaflet-control-zoom-out span{
    margin-right: 8px;
}
.m-right10{
    margin-right: 10px;
}
.m-left10{
    margin-left: 10px;
}
.border-b{
    border-bottom: 1px solid gray;
    float: none !important;    
}
.l-height{
    line-height: 2rem !important;
}
.w100{
    width: 100%;
}
/* .marker-cluster-small div {
text-align: center !important;
} */



/* ZONA DE INFORMES */

#reports{
    margin-top: 50px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;

    
}
#reports h2{
    margin-left: 20px;
    margin-bottom: 30px;
    /* font-weight: bold; */
}
#report-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    background-color: whitesmoke;
    place-items: center;
    align-self: center !important;
    /* margin: 20px 50px 20px 100px; */
    width: 80%;
    height: 100%;
    padding: 50px;
    border-radius: 15px;
    overflow-y: auto;
}
.report-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    
    cursor: pointer;
    width: 95%;
    height: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.report-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 50px !important;
    margin-bottom: 20px;
    background-color: #D5F9EE; 
    border-radius: 40%;
    font-size: 20px; 
    /* border: 2px solid #333; */
}

.report-icon i {
    font-size: 50px; 
    color: white !important; 
    -webkit-text-stroke: 2px blue !important;
}


.report-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.report-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.report-desc {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 15px;
}

#report-details{
    display: none;
}
.modal-lg {
    max-width: 90%;
}
#report-table {
    width: 100% !important;
    background: whitesmoke;
}
.dataTables_wrapper {
    width: 100% !important;
}

/* Estilos para el botón de cerrar (X) */
/* .btn-close {
    display: flex;
    align-items: center;
    
    float: right;
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: black; 
} */
.btn-close{
    position: fixed;
    top:120px;
    right: 100px;
}
.btn-close:hover{
    color: red !important;
}

.modal-header{
    width: 100% !important;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}
.div-calendar-informes{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    float: right;
    
}
#selector-fecha-informes{
    padding: 0 10px;
    height: auto;
    border-radius: 5px;
}
.dt-buttons{
    
    margin-top: 30px;
}

.dt-buttons button{
    margin-right:20px;
    font-size: 20px;
    border-radius: 10px !important;
    padding: 10px 20px;
}
.dt-info{
    margin-top: 20px;
}
.dt-search{
    margin-bottom: 10px;
    width: fit-content !important;
    float: right;
}
.dt-paging{
    width: fit-content !important;
    
}