/* .row{
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
} */
#action-panels{
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;

}
.ico-fichaje{
    float: right !important;
}
.cabecera{
    margin-top: 30px;
    justify-content: center !important;
}
#mensaje-usuario{
   
    color: whitesmoke;   
    font-size: 16px !important;    
    margin: 0 !important;
}
#detalles-entrada, #detalles-descanso, #detalles-salida{
    font-size: 16px !important;
    font-weight: bold;
}

.card-header{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between;    
}
.panel-container{
    border: 5px double #ccc;
    padding: 30px;
    text-align: center;
    background-color: whitesmoke;
}
.panel-container span{
    font-size: 18px;
    font-weight: 500;
    /* text-decoration: underline; */
    border-bottom: 1px solid black;
}
th{      
    text-align: left !important;
    padding-right: 0 !important;
    padding-left: 30px !important;
}
.dt-type-date{
    text-align: left !important;
}
.dt-column-order{
    left: 5px;
    right: 0 !important;    
}
.table-body{
    padding: 20px !important;
    color: var(--bs-card-color);
    
}
td,th{
    border: 1px solid black !important;
    border-radius: 10px !important;
    align-items: center !important;
}
.btn-fichaje{
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: 15px;
    
}
.fichaje-activo{
    filter: none !important;
    border: 5px solid #2196F3;
    transition: background-color 0.3s ease;
}

.bg-success, .bg-danger, .bg-primary{
    filter: brightness(80%);
}
.confirmar-accion {
    max-width: 400px;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);    
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-color: whitesmoke;
    border: 2px solid black;
    /* color: whitesmoke;     */
    padding: 20px;
    z-index: 7;
}
.confirmar-accion p{
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 18px;
}
.botones-accion{
    display: flex;
    flex-direction: row;
}
.aceptar-accion,
.cancelar-accion {
    padding: 5px 10px;
    /* width: 50%;
    height: 30px; */
    margin: 20px;
    /* font-size: 16px; */
    font-weight: bold;
    border-radius: 5px;
    
    color: whitesmoke;
}
.aceptar-accion {
    background-color:#198754;
}
.cancelar-accion {
    background-color: #DC3545;
}

#div-registro-ubicacion{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: auto;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #33517D;
    padding: 15px 15px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: none;
    text-align: center;
    z-index: 6;
}
#div-registro-ubicacion h3{
    /* font-weight: bold; */
    color: whitesmoke;
}

#cerrar-modal{
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    margin-bottom: 20px;
}
#cerrar-modal:hover {
    color: red;
}
#form-registro-ubicacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#btn-registrar-ubicacion{
    width: 20%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    min-width: fit-content;
    
}
.input-comentarios{
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 10px;
}
